<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="layout/defaultLayout">

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<head>

</head>
<body>

	<div class="container-mypage">
		<table class="user-Modify-form">
			<tr class="user-Modify-tr">
				<th class="user-Modify-title">
					<div class="thcell">이름</div>
				</th>
				<td class="user-Modify-content">
					<div class="tdcell">
						<p class="user-modify-input" id="userName" name="userName" th:text="${userName}" readonly />
						<button class="btn btn-primary" type="button" th:text="수정">
				        </button>
						<p class="contxt_desc">실명 정보(이름, 생년월일, 성별, 개인 고유 식별 정보)가 변경된 경우 본인 확인을 통해 정보를 수정하실 수 있습니다.</p>
					</div>
				</td>
			</tr>
			<tr class="user-Modify-tr">
				<th class="user-Modify-title">
					<div class="thcell">이메일</div>
				</th>
				<td class="user-Modify-content">
					<div class="tdcell">
						<p class="user-modify-input" id="userEmail" name="userEmail" th:text="${userEmail}" readonly/>
						<button class="btn btn-primary" type="button" th:text="수정">
				        </button>
						<p class="contxt_desc">로그인, 예약, 본인확인(아이디, 비밀번호 찾기 등)이 필요한 경우 사용할 이메일 주소입니다.</p>
					</div>
				</td>
			</tr>
			<tr class="user-Modify-tr">
				<th class="user-Modify-title">
					<div class="thcell">휴대전화</div>
				</th>
				<td class="user-Modify-content">
					<div class="tdcell">
						<p class="user-modify-input" id="userPhone" name="userPhone" th:text="${userPhone}"/>
						<button class="btn btn-primary" type="button" th:text="수정">
				        </button>
						<p class="contxt_desc">아이디, 비밀번호 찾기 등 본인확인이 필요한 경우 또는 유료 결제 등 네이버로부터 알림을 받을 때 사용할 휴대전화입니다.</p>
					</div>
				</td>
			</tr>
			<tr class="user-Modify-tr">
				<th class="user-Modify-title">
					<div class="thcell">주소</div>
				</th>
				<td class="user-Modify-content">
					<div class="tdcell">
						<p class="user-modify-input" id="userAddr" name="userAddr" th:text="${userAddr}"/>
					</div>
				</td>
			</tr>
		</table>		
	</div>
	
	
</body>

</html>