<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Azit</title>

<!-- CSS 모음 -->
<th:block th:include="include/include-link"></th:block>

</head>

<body>
	<!-- Script 모음 -->
	<th:block th:include="include/include-script"></th:block>

	<!-- Navigation -->
	<nav th:replace="nav/nav"></nav>

	<!-- Header -->
	
	<th:block th:if="${key} != 'main'" >
		
	</th:block>	
	<th:block th:unless="${key} != 'main'" >
		<header th:replace="header"></header>
	</th:block>




	<!-- Page Content -->

	<div th:replace="${template}"></div>
	
	<!-- Footer -->
	<th:block th:if="${key} == 'sign'" >
		
	</th:block>
	<th:block th:unless="${key} == 'sign'" >
	
		<footer th:replace="footer"></footer>
	</th:block>

</body>

</html>
