<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">


<title> Azit </title>
</head>
<body>

 <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top" th:fragment="nav_before">
    <div class="container">
      <a class="navbar-brand" href="/">
      	<img class="logo" src="img/logo/logo_1_02.png">
      </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
        <li th:each="n: ${nav}">
        	<a class="nav-link" href="" th:href="@{/{navName}(navName=${n.navNameEn})}" th:text="${n.navNameKr}" ></a>
        </li>
        <li class="nav-item dropdown userbutton">
            <a class="nav-link dropdown-toggle user_icon" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
            	<img src="img/icons/user_1.png" th:text="${userName}+ 님">
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
              <a class="dropdown-item" th:href="@{/mypage}" th:text="마이페이지">마이페이지</a>
              <a class="dropdown-item" th:href="@{/signout}" th:text="로그아웃">로그아웃</a>
            </div>
          </li>
        	<!-- 
          <li class="nav-item">
            <a class="nav-link" href="space">공간찾기</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="space">공간등록</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">검색</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">회원가입</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">로그인</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="services.html">마이페이지</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">문의</a>
          </li>
           -->
<!--           
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Blog
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
              <a class="dropdown-item" href="blog-home-1.html">Blog Home 1</a>
              <a class="dropdown-item" href="blog-home-2.html">Blog Home 2</a>
              <a class="dropdown-item" href="blog-post.html">Blog Post</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Other Pages
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
              <a class="dropdown-item" href="full-width.html">Full Width Page</a>
              <a class="dropdown-item" href="sidebar.html">Sidebar Page</a>
              <a class="dropdown-item" href="faq.html">FAQ</a>
              <a class="dropdown-item" href="404.html">404</a>
              <a class="dropdown-item" href="pricing.html">Pricing Table</a>
            </div>
          </li>
-->
        </ul>
      </div>
    </div>
  </nav>

<script th:src="@{js/custom.js}"></script>

</body>
</html>