<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<div class="container">

    <h1 class="my-4">오늘의 추천 공간</h1>


    <!-- Portfolio Section -->
    

    <div class="row">
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="img/space/1.jpg" alt=""></a>
          <div class="card-body">
            <h6 class="card-title">
              <a href="#">[오늘은]오늘스페이스</a>
            </h6>
            <p class="card-text">서울시 마포구  |  #세미나실 #소모임 #무료공간 #회의실 #프로젝트</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="img/space/2.jpg" alt=""></a>
          <div class="card-body">
            <h6 class="card-title">
              <a href="#">[오늘은]오늘스페이스</a>
            </h6>
            <p class="card-text">서울시 마포구  |  #세미나실 #소모임 #무료공간 #회의실 #프로젝트</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="img/space/3.jpg" alt=""></a>
          <div class="card-body">
            <h6 class="card-title">
              <a href="#">[오늘은]오늘스페이스</a>
            </h6>
            <p class="card-text">서울시 마포구  |  #세미나실 #소모임 #무료공간 #회의실 #프로젝트</p>
          </div>
        </div>
      </div>
     <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="img/space/4.jpg" alt=""></a>
          <div class="card-body">
            <h6 class="card-title">
              <a href="#">[오늘은]오늘스페이스</a>
            </h6>
            <p class="card-text">서울시 마포구  |  #세미나실 #소모임 #무료공간 #회의실 #프로젝트</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="img/space/5.jpg" alt=""></a>
          <div class="card-body">
            <h6 class="card-title">
              <a href="#">[오늘은]오늘스페이스</a>
            </h6>
            <p class="card-text">서울시 마포구  |  #세미나실 #소모임 #무료공간 #회의실 #프로젝트</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="img/space/6.jpg" alt=""></a>
          <div class="card-body">
            <h6 class="card-title">
              <a href="#">[오늘은]오늘스페이스</a>
            </h6>
            <p class="card-text">서울시 마포구  |  #세미나실 #소모임 #무료공간 #회의실 #프로젝트</p>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->

    <!-- Features Section -->
    

    <hr>

    <!-- Call to Action Section -->
    <div class="row mb-4">
      <div class="col-md-8">
        <p></p>
      </div>
      <div class="col-md-4">
        <a class="btn btn-lg btn-secondary btn-block" href="#">TOP</a>
      </div>
    </div>

  </div>
  <!-- /.container -->

</body>
</html>