<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<div class="container">

    <h1 class="my-4">오늘의 추천 공간</h1>


    <!-- Portfolio Section -->
    

    <div class="row">
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="img/space/1.jpg" alt=""></a>
          <div class="card-body">
            <h6 class="card-title">
              <a href="#">[오늘은]오늘스페이스</a>
            </h6>
            <p class="card-text">서울시 마포구  |  #세미나실 #소모임 #무료공간 #회의실 #프로젝트</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="img/space/2.jpg" alt=""></a>
          <div class="card-body">
            <h6 class="card-title">
              <a href="#">[오늘은]오늘스페이스</a>
            </h6>
            <p class="card-text">서울시 마포구  |  #세미나실 #소모임 #무료공간 #회의실 #프로젝트</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="img/space/3.jpg" alt=""></a>
          <div class="card-body">
            <h6 class="card-title">
              <a href="#">[오늘은]오늘스페이스</a>
            </h6>
            <p class="card-text">서울시 마포구  |  #세미나실 #소모임 #무료공간 #회의실 #프로젝트</p>
          </div>
        </div>
      </div>
     <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
          <div class="card-body">
            <h6 class="card-title">
              <a href="#">[오늘은]오늘스페이스</a>
            </h6>
            <p class="card-text">서울시 마포구  |  #세미나실 #소모임 #무료공간 #회의실 #프로젝트</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
          <div class="card-body">
            <h6 class="card-title">
              <a href="#">[오늘은]오늘스페이스</a>
            </h6>
            <p class="card-text">서울시 마포구  |  #세미나실 #소모임 #무료공간 #회의실 #프로젝트</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
          <div class="card-body">
            <h6 class="card-title">
              <a href="#">[오늘은]오늘스페이스</a>
            </h6>
            <p class="card-text">서울시 마포구  |  #세미나실 #소모임 #무료공간 #회의실 #프로젝트</p>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->

    <!-- Features Section -->
    <div class="row">
      <div class="col-lg-6">
        <h2>Modern Business Features</h2>
        <p>The Modern Business template by Start Bootstrap includes:</p>
        <ul>
          <li>
            <strong>Bootstrap v4</strong>
          </li>
          <li>jQuery</li>
          <li>Font Awesome</li>
          <li>Working contact form with validation</li>
          <li>Unstyled page elements for easy customization</li>
        </ul>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.</p>
      </div>
      <div class="col-lg-6">
        <img class="img-fluid rounded" src="http://placehold.it/700x450" alt="">
      </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Call to Action Section -->
    <div class="row mb-4">
      <div class="col-md-8">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
      </div>
      <div class="col-md-4">
        <a class="btn btn-lg btn-secondary btn-block" href="#">Call to Action</a>
      </div>
    </div>

  </div>
  <!-- /.container -->

</body>
</html>